<table id="logs-table" class="table table-condensed table-striped mobile-data">
  <thead>
  <tr>
    <th>Time</th>
    <th>Level</th>
    <th>Message</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= javascript_tag do %>
  $(document).ready(function() {
    window.logsDataTable = $('#logs-table').DataTable({
      "columns": [
        { "width": "165px" }, /* ISO String is constant in width */
        { "width": "60px" },  /* Log levels are bounded in width */
        null,
      ],
      "dom": "<'row'<'col-md-6'><'col-md-6'f>>t<'row'<'col-md-6'><'col-md-6'>>",
      "ordering": true,
      "pageLength": 100
    });
  });
<% end %>
