<table id="logs-table" class="table table-condensed table-striped mobile-data">
  <thead>
  <tr>
    <th>Time</th>
    <th>Level</th>
    <th>Message</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= form_tag url_for, :method => 'get', :format => :js, :id => 'kb_host-form', :class => 'form-horizontal', :style => 'display: none;' do %>
  <div id="logs-form">
    <div class="form-inline">
      <%= text_field_tag :kb_host, kb_host, :class => 'form-control' %>
      <%= button_tag '', :type => 'submit', :class => 'glyphicon glyphicon-search' %>
    </div>
  </div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    window.logsDataTable = $('#logs-table').DataTable({
      "columns": [
        { "width": "165px" }, /* ISO String is constant in width */
        { "width": "60px" },  /* Log levels are bounded in width */
        null,
      ],
      "dom": "<'row'<'col-md-6'><'col-md-6'f>>t<'row'<'col-md-6'><'col-md-6'>>",
      "ordering": true,
      "pageLength": 100
    });

    var kbHostForm = $('#kb_host-form').detach();
    var leftOfSearchBox = $("#logs-table_wrapper > div:nth-child(1) > div:nth-child(1)");
    kbHostForm.appendTo(leftOfSearchBox);
    kbHostForm.show();
  });
<% end %>
