<table id="logs-table" class="table table-condensed table-striped mobile-data">
  <thead>
  <tr>
    <th>Time</th>
    <th>Name</th>
    <th>Level</th>
    <th>Message</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#logs-table').dataTable({
      "dom": "<'row'r>t<'row'<'col-md-6'><'col-md-6'>>",
      "ordering": false
    });
  });
<% end %>
