<div class="search">

  <div class="column-block">

    <h1>Configured instances</h1>

    <div id="nodes-table-wrapper">
      <%= render :partial => 'kpm/nodes_info/nodes_table', :locals => {:nodes_info => @nodes_info} %>
    </div>

  </div>

</div>
